*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("background.webp");
    /* height: 100vh; 
    width: 100vw; */
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 20px;
 }
 video {
     border: 5px solid rgb(241, 134, 255);
     border-radius: 20px;
 }

 .wrapper{
    display: flex;
    width: 150px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.397);
    box-shadow: 2px 2px 5px grey,
    -2px -2px 5px;
    justify-content: center;
    align-items: center;
}

.like{
    margin: 16px;
}
.like i{
    font-size: 30px;
    color: grey;    
}
.dislike{
    margin: 16px;
}
.dislike i{
    font-size: 30px;
    color: grey;  
}

.comments{
    overflow: scroll;
    height: 200px;
    width: 700px;
    border-radius: 20px;
}

.commentstitle {
    background-color: rgb(87, 87, 87); /* Grey background color */
    box-shadow: 1px 1px 2px grey,
      -1px -1px 2px;
    color: rgb(255, 255, 255); /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border-radius: 20px;
  }

.list {
  background-color: #eee; /* Grey background color */
  box-shadow: 1px 1px 2px grey,
    -1px -1px 2px;
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  word-wrap: break-word;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
